.articles {
    background-color: lightgrey;
    grid-area: articles;
    text-decoration: none;
  }

  .article {
    border: solid 2px black;
    margin-bottom: 10px;
    border-radius: 5px;

  }

.artTitle {

}

a {
    text-decoration: none;
    color: black;
}