.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 70px 30px 8fr 1fr;
  grid-template-areas:
    'header header'
    'nav nav'
    'section articles'
    'foot foot';
}

.nav {
  background-color: cornsilk;
  grid-area: nav;
}

.section {
  background-color: grey;
  grid-area: section;
}


.foot {
  background-color: chocolate;
  grid-area: foot;
}
